*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 5rem; */
    gap: 1rem;
}
.navbar{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 5rem;
}
.name{
    font-size: 2.5rem;
    text-shadow: rgba(253, 31, 31, 0.9);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    color: fuchsia;
    outline: 1px dotted #ffffff;
    border-radius: 50%;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
li{
    list-style: none;
   
}

li:hover{
    color: fuchsia;
}
li a{
    font-size: 1rem;
    text-decoration: none;
    color: white;
}
.main{
    width: 60%;
    height: 100%;
    background-color: blue;
    font-size: 2rem;
    border-radius: 20px;
    padding: 2rem;
}
input[type=text]{
    height: 2rem;
    border-radius: 12px;
}
#age{
    font-size: 3rem;
    color: brown;
}
button{
    width: 10rem;
    height: 2rem;
}
@media screen and (max-width:550px) {
    .name{
       font-size: 2rem;
    }
    .nav{
        padding: 1rem
    }
   .main{
    width: 100%;
   }
   }
   @media screen and (max-width:300px) {
    .name{
       font-size: 1rem;
    }
    
   }